pytest==7.2.1
coverage==5.5
requests_mock==1.10.0
prometheus-client==0.12.0
pylint==2.12.2
flake8==3.8.4
flake8-print==3.1.4
requests==2.26.0
urllib3==1.26.7
virtualenv==20.0.0
pysocks==1.7.1
setuptools~=59.6.0
paramiko~=2.9.2
pytest-mock==3.3.1
kubernetes==25.3.0
